extends ../layouts/default

block css
	script(src="/js/Chart.js")

block content
	#blue: .container
		.row.centered
			.col-lg-8.col-lg-offset-2
				h4 LEARN MORE ABOUT US
				p WE ARE COOL PEOPLE

	.container.w: row.centered
		br
		.col-lg-3
			img(class="img-circle", src="/images/img/pic.jpg", width="110", height="110", alt="")
			h4 Dimitrio Mandamadiotis
			p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
			p
				a(href="#") @Dmitris95
				
		.col-lg-3
			img(class="img-circle", src="/images/img/pic2.jpg", width="110", height="110", alt="")
			h4 Javier Montilva
			p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
			p
				a(href="#") @----
				
		.col-lg-3
			img(class="img-circle", src="/images/img/pic3.jpg", width="110", height="110", alt="")
			h4 Georgios Botas
			p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
			p
				a(href="#") @----
				
		.col-lg-3
			img(class="img-circle", src="/images/img/pic4.jpg", width="110", height="110", alt="")
			h4 Yenifer Ramirez
			p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
			p
				a(href="#") @-----


	#dg: .container
		.row.centered
			h4 OUR SKILLS
			br
		
		.col-lg-3
			canvas(id="canvas", height="130", width="130")
			br
			script.
				var doughnutData = [
						{
							value: 70,
							color:"#3498db"
						},
						{
							value : 30,
							color : "#ecf0f1"
						}
					];
					var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
			
			p
				b Design & Brand
			p
				small There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
		
		.col-lg-3
			canvas(id="canvas2", height="130", width="130")
			br
			script.
				var doughnutData = [
						{
							value: 90,
							color:"#3498db"
						},
						{
							value : 10,
							color : "#ecf0f1"
						}
					];
					var myDoughnut = new Chart(document.getElementById("canvas2").getContext("2d")).Doughnut(doughnutData);
			
			p
				b Web Development
			p
				small There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
		
		.col-lg-3
			canvas(id="canvas3", height="130", width="130")
			br
			script.
				var doughnutData = [
						{
							value: 70,
							color:"#3498db"
						},
						{
							value : 30,
							color : "#ecf0f1"
						}
					];
					var myDoughnut = new Chart(document.getElementById("canvas3").getContext("2d")).Doughnut(doughnutData);
			
			p
				b Seo Services
			p
				small There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
				
		.col-lg-3
			canvas(id="canvas4", height="130", width="130")
			br
			script.
				var doughnutData = [
						{
							value: 60,
							color:"#3498db"
						},
						{
							value : 40,
							color : "#ecf0f1"
						}
					];
					var myDoughnut = new Chart(document.getElementById("canvas4").getContext("2d")).Doughnut(doughnutData);
			
			p
				b Printing
			p
				small There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.			
				
