extends ../layouts/default

block content
	#headerwrap: .container
		.row.centered
			.col-lg-8.col-lg-offset-2
			h1 It Doesn't Take a Rocket #[b Scientist]
			h2 It Takes a Designer

	.container.w 
		.row.centered
			br
			.col-lg-4
				i.fa.fa-heart
				h4 DESIGN
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.
				
			.col-lg-4
				i.fa.fa-laptop
				h4 BOOTSTRAP
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.
					
			.col-lg-4
				i.fa.fa-trophy
				h4 SUPPORT
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.
		br
		br
		
	#dg: .container
		.row.centered
			h4 LATEST WORKS
			br
			.col-lg-4: .tilt
				a(href="#")
					img(src="/images/img/p01.png", alt="")
			.col-lg-4: .tilt
				a(href="#")
					img(src="/images/img/p02.png", alt="")
			.col-lg-4: .tilt
				a(href="#")
					img(src="/images/img/p03.png", alt="")

	.container.wb: row.centered
		br
		.col-lg-8.col-lg-offset-2
			h4 WE CREATE FIRST CLASS DESIGN
			p By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.
		p
			br
			br
		.col-lg-2
		.col-lg-10.col-lg-offset-1
			img(src="/images/img/munter.png", class="img-responsive", alt="")

	#lg: .container
		.row.centered
			h4 OUR AWESOME CLIENTS
			.col-lg-2.col-lg-offset-1
				img(src="/images/img/c01.gif" alt="")
			.col-lg-2
				img(src="/images/img/c02.gif" alt="")
			.col-lg-2
				img(src="/images/img/c03.gif" alt="")
			.col-lg-2
				img(src="/images/img/c04.gif" alt="")
			.col-lg-2
				img(src="/images/img/c05.gif" alt="")

			
