extends ../layouts/default

block content
	.jumbotron
		.container
			h1.space-top.red Desarrollo web y movil
			p.space-top Ofrecemos la solución que necesitas y los
			p resultados que impresionarán a todos tus clientes.
	.container
		.row.center-block
			.col-md-1.col-xs-4.col-md-offset-1.text-center
				i(class="fa fa-wordpress fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.text-center
				i(class="fa fa-drupal fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.text-center
				i(class="fa fa-joomla fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.text-center
				i(class="fa fa-html5 fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.text-center
				i(class="fa fa-css3 fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.text-center
				i(class="fa fa-diamond fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.text-center
				i(class="fa fa-android fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.text-center
				i(class="fa fa-apple fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.text-center
				i(class="fa fa-codepen fa-4x", aria-hidden="true")
			.col-md-1.col-xs-4.hidden-xs
				i(class="fa fa-connectdevelop fa-4x", aria-hidden="true")
				
	
	.space-bot.container
			h2(class="text-center") ¿Por qué nosotros?
			.col-md-4: .col-sm-12
				img(src="http://res.cloudinary.com/mountain-code/image/upload/v1464318164/cross_b72we1.png", width="200", alt="Multiplataformas").center-block.info-imagen
				h3(class="text-center space-top") Diseño para cualquier dispositivo
				p.text-justify.space-top Nuestras aplicaciones web son desarrolladas tomando en cuenta la gran cantidad de dispositivos tecnológicos disponibles en el mercado, por ese motivo generamos interfaces responsivas que se adaptan a cualquier pantalla y permiten una presentación impecable de la información.
			.col-md-4: .col-sm-12
				img(src="http://res.cloudinary.com/mountain-code/image/upload/v1464318165/solve_s6xwhc.png", width="200", alt="Resultados inmediatos").center-block.info-imagen
				h3(class="text-center space-top") Aplicaciones que solucionan tus problemas
				p.text-justify.space-top Nuestros desarrolladores se desenvuelven de forma extraordinaria con las diferentes tecnologías web y móviles existentes, por lo tanto, le garantizamos una solución efectiva y cómoda a sus preocupaciones que además, mejorara y modernizara sus operaciones.
			.col-md-4: .col-sm-12
				img(src="http://res.cloudinary.com/mountain-code/image/upload/v1464318117/speed_qhqsle.png", width="200", alt="Gran velocidad de carga").center-block.info-imagen
				h3(class="text-center space-top") La mejor calidad y rendimiento
				p.text-justify.space-top En el desarrollo de todas nuestras aplicaciones web y móviles utilizamos las mejores tecnologías y las más innovadora. Nuestro trabajo se somete a extensas pruebas de comprobación. Además, seguimos las normas W3C y realizamos tareas de rediseño y optimización al contenido multimedia.
