extends ../layouts/default

block content

		div(class="mdl-grid portfolio-max-width portfolio-contact")
			div(class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp")
				div(class="mdl-card__title")
					h2(class="mdl-card__title-text") Bienvenido
				div(class="mdl-card__media")
					img(class="article-image" src="images/pico.jpg" border="0" alt="")
					
				div(class="mdl-card__supporting-text")
					p.
						Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
						
					p.
						Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.
					p.
						Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
					p.
						Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
						
					p.
						Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.
					p.
						Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
