extends ../layouts/default

block content
	#blue: .container
		.row.centered
			.col-lg-8.col-lg-offset-2
				h4 APRENDE MÁS ACERCA DE NOSOTROS
				p SOMOS GENTE COOL

	.container.w
		.row.centered
			br
			.col-lg-4
				i.fa.fa-desktop
				h4 DISEÑO WEB
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
				
			.col-lg-4
				i.fa.fa-cogs
				h4 DESARROLLO WEB
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
				
			.col-lg-4
				i.fa.fa-eye
				h4 SERVICIOS SEO
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.		
			br
		.row.centered
			.col-lg-4
				i.fa.fa-wrench
				h4 OPTIMIZACIÓN
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.	
				
			.col-lg-4
				i.fa.fa-shopping-cart
				h4 E-COMERCIO
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.	
				
			.col-lg-4
				i.fa.fa-cloud
				h4 SERVICIOS EN LA NUBE
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.	
				
	
	#dg: .container
		.row.centered
			h4 PAQUETES
			br
			.col-lg-4
				.pricing-option 
					.pricing-top
						span.pricing-edition Principiante
						span.price
							sup $
							span.price-amount 19
							small /mes
					ul
						li #[strong 10GB] Storage
						li Up to #[strong 10] Users
						li #[strong 5] Domains
						li #[strong Free] Setup
						li #[strong 1-year] Free support
					a(href="/contact", class="pricing-signup") Contáctanos
			
			.col-lg-4
				.pricing-option
					.pricing-top
						span.pricing-edition Estandar
						span.price
							sup $
							span.price-amount 29
							small /mes
					ul
						li #[strong 20GB] Storage
						li Up to #[strong 20] Users
						li #[strong 10] Domains
						li #[strong Free] Setup
						li #[strong 2-year] Free support
					a(href="/contact", class="pricing-signup") Contáctanos
				
			.col-lg-4
				.pricing-option 
					.pricing-top
						span.special-label OFERTA!
						span.pricing-edition Profesional
						span.price
							sup $
							span.price-amount 69
							small /mes
					ul
						li #[strong 50GB] Storage
						li Up to #[strong 50] Users
						li #[strong 20] Domains
						li #[strong Free] Setup
						li #[strong Free] support
					a(href="/contact", class="pricing-signup") Contáctanos
				
