// Override Bootstrap variables in this file, e.g.

font-size-base = 14px
$navbar-border-radius = 0px
$navbar-default-color = #fff
$navbar-default-bg = #263238
$navbar-default-link-active-bg = #546e7a
$navbar-default-link-color = #fff
$navbar-default-link-active-color = #fff
$navbar-default-link-hover-color = #ddd
$navbar-height = 65px
$navbar-brand-padding-vertical = 9px
$navbar-brand-padding-horizontal = 30px
$navbar-default-border = 0px
$navbar-margin-bottom = 0px
$navbar-default-toggle-icon-bar-bg = #fff
$navbar-default-toggle-border-color = #fff
$navbar-default-toggle-hover-bg = #546e7a
$jumbotron-bg = transparent
$jumbotron-padding = 1em
$jumbotron-font-size = 23px
$btn-default-color =  #fff
$btn-default-bg = $primario
$btn-default-border = #fff
$panel-default-heading-bg = #eceff1
$panel-default-border = #cfd8dc
$primario = #006064
$secundario = #0097a7
