// Override Bootstrap variables in this file, e.g.

font-size-base = 14px
$navbar-border-radius = 0px
$navbar-default-color = #fff
$navbar-default-bg = #004d40
$navbar-default-link-active-bg = #00796b
$navbar-default-link-color = #fff
$navbar-default-link-active-color = #fff
$navbar-default-link-hover-color = #ddd
$navbar-height = 65px
$navbar-brand-padding-vertical = 9px
$navbar-brand-padding-horizontal = 30px
$navbar-default-border = 0px
$navbar-margin-bottom = 0px
$navbar-default-toggle-icon-bar-bg = #fff
$navbar-default-toggle-border-color = #fff
$navbar-default-toggle-hover-bg = #00796b
$jumbotron-bg = transparent
$jumbotron-padding = 1em
$jumbotron-font-size = 23px
