// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.
@import "site/_variables"
@import "bootstrap"

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.




// Site Styles
// ===========

// Add your own site style includes here
@import "site/_layout"

body
  padding: 0

i
  color: #004d40
  padding: 30px 5px

.info-imagen
  padding: 10px
  background-color: #e4e4e4
  border-radius: 15px
  margin-top: 3em

.space-bot
  padding-bottom: 35px

.space-top
  margin-top: 1.4em

.facebook
  color: #3B5998

.twitter
  color: #6CADDF

.white
  color: #fff

.space
  margin-right: 5px
  padding: 5px 10px
  padding-left: 0px

#footer
  .col-md-4
    margin-bottom: 1em

    hr
      margin-top: 0px
      margin-bottom: 3px
      border-top: 1px solid #18614C

    h5
      margin-bottom: 5px

.list-foot
  list-style: none
  padding-left: 1px

  a
    color: #fff

  a:hover
    color: lightgray
    text-decoration: none
