// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.
@import "site/_variables"
@import "bootstrap"

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.
// Site Styles
// ===========

// Add your own site style includes here
@import "site/_layout"

body
  padding: 0

i
  color $navbar-default-bg
  padding: 30px 5px

.info-imagen
  padding: 10px
  background-color: #e4e4e4
  border-radius: 15px
  margin-top: 3em

.space-bot
  padding-bottom: 35px

.space-top
  margin-top: 1.4em

.facebook
  color: #3B5998

.twitter
  color: #6CADDF

.white
  color: #fff

.space
  margin-right: 5px
  padding: 5px 10px
  padding-left: 0px

.post-space-big
  padding: 2em

.post-space
  padding: 1em

  .read-more
    a
      color:$primario
      font-weight: bold;

    a:focus
      text-decoration: none
      color: $primario

    i
      color:$primario
      padding: 0px

  .read-more:hover

    a
      color:$secundario
      font-weight: bold
      text-decoration: none

    i
      color:$secundario
      padding: 0px


article
  h1
    color: $primario
  h5
    color: #90a4ae

  a
    i
      padding-top: .8em
      padding-bottom: 0px

      color $navbar-default-bg

.post
  margin-bottom: 3em

  .panel-heading
    p
      font-size: 14px

  h2
    i
      padding: 0
      padding-right: 14px
      color: $primario

    i:hover
      padding: 0
      padding-right: 14px
      color: $secundario

    a
      text-decoration: none
      color: $primario

    a:hover
      text-decoration: none
      color: $secundario

  .pull-right
     margin-left: 2em
     margin-top: 2em
     margin-right: 1em
     border-radius: 5px

  p
    font-size: 16px

  .image-wrap
    margin: 1em

    img
      margin-left: auto
      margin-right: auto

#footer
  bottom: 0
  .col-md-4
    margin-bottom: 1em

    hr
      margin-top: 0px
      margin-bottom: 3px
      border-top: 1px solid #607d8b

    h5
      margin-bottom: 5px

    li
      padding-top: 5px
      width: 100%


.list-foot
  list-style: none
  padding-left: 1px

  a
    color: #fff

  a:hover
    color: #546e7a
    text-decoration: none

.red-light
  color:$secundario

.red
  color: $primario

.jumbotron

  .red
    color: $primario

.mostrando
  color: #90a4ae
  font-size: 14px
